In [5]:
import json
import requests
import pandas as pd

In [22]:
# List of character
search_characters = ['R2-D2', 'Darth Vader', 'Godzilla', 'Luke Skywalker', 'Frodo', \
              'Boba Fett', 'Iron Man', 'Jon Snow', 'Han Solo']

# Set url for API
url = 'https://swapi.dev/api/people/?search='

# Set empty lists to hold character's height and mass
height = []
mass = []
chars = []

# Loop through each character and make API request
for character in search_characters:
    # Create search query, make request and store in json
    response = requests.get(url + character).json()
    # Try to grab the height and mass of characters if they are available in the Star Wars API
    try:
        infochar = response["results"][0]
        height.append(infochar["height"])
        mass.append(infochar["mass"])
        chars.append(infochar["name"])
    # Handle exceptions for a character that is not available in the Star Wars API
    except IndexError:
        print(f'The character {character} was not found.')

The character Godzilla was not found.
The character Frodo was not found.
The character Iron Man was not found.
The character Jon Snow was not found.

In [26]:
# Create DataFrame
char_dict = {
    "name": chars,
    "height (cm)": height,
    "mass (kg)": mass
}
char_data = pd.DataFrame(char_dict)
char_data = char_data.set_index('name')
char_data.head()

               height (cm) mass (kg)
name
R2-D2                   96        32
Darth Vader            202       136
Luke Skywalker         172        77
Boba Fett              183      78.2
Han Solo               180        80